@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .w-full-break-out {
    @apply w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw];
  }
}
